main{
    section{
        padding: 0 10px;

        h1{
            margin: 20px 0;
            font-size: 4rem;
            text-align: center;
        }
        h2{
            font-size: 2rem;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        p{
            text-indent: 50px;
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}