footer{
    padding-top: 50px;
    .social{
        
        width: 30%;
        margin: auto;
        display: flex;
        a{
            margin: auto;

        }
        img{
            width: 30px;
            
        }
    }
}